.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }


body {
    padding: 0px;
    margin: 0px;
}

#menu {
    padding: 0px 0px 0px;
    width: 5%;
    height: 100%;
    background-color: black;
    display: inline-block;
    vertical-align: top;
}

#columns {
    overflow-x:auto;
    overflow-y:hidden;
    width:90%;
    background-color: black;
    display: inline-block;
    vertical-align: top;
}

#column {
    width: 300px;
    background-color: black;
    display: inline-block;
    vertical-align: top;
}

#top {
    width: 300px;
    background-color: black;
    border-width: 2px;
    border-color: rgb(100,10,10);
    color: white;
    text-align: center;
}

#cell {
    width: 300px;
    height: auto;
    background-color: gray;
    margin: 5px;
    word-wrap: break-word;
}

.id {
    color : white;
    display: inline-block;
}

.prof_img {
    display: inline-block;
}

.content {
    display: block;
}
