<!DOCTYPE html>
<html>
<head>
    <title>Mastodeck</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type="text/javascript">
    var url = {};
    function loadColumn(column) {
        var req = new XMLHttpRequest();
        var field_url;
        switch (column.name) {
            case "home":
                field_url="timelines/home";
                break;
            case "local":
                field_url="timelines/public?local=on";
                break;

            case "public":
                field_url="timelines/public";
                break;
            default:
                field_url="";
        }
    }

    function stream(column){
        var req = new XMLHttpRequest();
        var field_url;
        switch (column.getAttribute(name)) {
            case "home":
                field_url="user";
                break;
            case "local":
                field_url="public?local=on";
                break;

            case "public":
                field_url="public";
                break;
            default:
                field_url="";
        }
        req.open("get","<%= api_url %>streaming/"+field_url+"?"+url[column.getAttribute(number)].prev.split('?')[1],true);
        req.responseType = "text" ;
        req.setRequestHeader("Authorization","Bearer "+ "<%= access_token %>");
        var main = column.children[1];
        req.onreadystatechange = function() {
            if(this.readyState == 3) {
                var res = this.response.split('\n');
                var isContent = false;
                for(var i=0;i<res.length;i++){
                    if(res[i]=="event: update"){
                        isContent=true;
                    }else if(isContent && res[i]!=""){
                        try{
                            var data = JSON.parse(res[i].substr(6));
                            main.insertBefore(createTootCell(data),main.firstChild);
                        }catch(e){
                            console.log(res[i]);
                        }
                        isContent=false;
                    }
                }
            }
        }
        req.onerror = function() {
            console.log(this);
        }
        req.send() ;
    }

    function load(column) {
        var req = new XMLHttpRequest();
        var field_url;
        switch (column.getAttribute('name')) {
            case "home":
            field_url="timelines/home";
            break;
            case "local":
            field_url="timelines/public?local=on";
            break;

            case "public":
            field_url="timelines/public";
            break;
            default:
            field_url="";
        }
        req.open("get","<%= api_url %>"+field_url,true);
        req.responseType = "json" ;
        req.setRequestHeader("Authorization","Bearer "+ "<%= access_token %>");
        req.onload = function() {
            var link = this.getResponseHeader("Link");
            var header = link.split(',');
            var next = header[0].split(';')[0].replace("<","").replace(">","");
            var prev = header[1].split(';')[0].replace(" <","").replace(">","");
            url[column.getAttribute('number')]={next: next, prev: prev};

            var main = column.children[1];
            for(var i=this.response.length-1;i>=0;i--) {
                main.insertBefore(createTootCell(this.response[i]),main.firstChild);
            }
            stream(column);
        }
        req.onerror = function() {
            console.log(this);
        }
        req.send();
    }

    function createTootCell(data){
        var cell = document.createElement('div');
        cell.id = 'cell';

        var prof_img = document.createElement('img');
        prof_img.src=data.account.avatar;
        prof_img.className="prof_img";
        cell.appendChild(prof_img);

        var name = document.createElement('h4');
        name.innerHTML = data.account.display_name;
        name.className = "username";
        cell.appendChild(name);

        var id = document.createElement('p');
        id.className="id";
        id.innerHTML = '@' + data.account.username;
        cell.appendChild(id);

        var content = document.createElement('div');
        content.className = "content";
        content.innerHTML = data.content;
        cell.appendChild(content);

        return cell;
    }

    function getColumnByNumber(elements,number){
        var correct_element = elements[0];
        elements.forEach(function(element){
            if(element.getAttribute('number')==number){
                return correct_element=element;
            }
        });
        return correct_element;
    }
    function addColumn(field_name){
        var columns = document.getElementById("columns");

        console.log(columns.id);

        var newColumn = document.createElement('div');
        newColumn.id = "column";
        newColumn.setAttribute('name',field_name);
        newColumn.setAttribute('number',columns.children.length+1);
        //else newColumn.setAttribute('number',"1")

        var top = document.createElement('div');
        top.id="top";
        top.innerHTML = field_name;
        newColumn.appendChild(top);

        var toot_field = document.createElement('div');
        toot_field.id="toot_field";
        newColumn.appendChild(toot_field);

        columns.appendChild(newColumn);
        load(newColumn);
    }

    </script>
</head>
<body>
    <div id="menu">
        <!-- <input type="image" src="logout.png" value="ログアウト" onclick="location.href='/logout'"> -->
        <input type="button" value="投稿" onclick="">
        <input type="button" value="検索" onclick="">
        <input type="button" value="アカウント追加" onclick="">
        <input type="button" value="プロフィール" onclick="">
        <label style="color: white;">add</label>
        <input type="button" value="home" onclick="addColumn('home')">
        <input type="button" value="public" onclick="addColumn('public')">
        <input type="button" value="local" onclick="addColumn('local')">
        <input type="button" value="ログアウト" onclick="location.href='/logout'">
    </div>
    <div id="columns">
        <!-- <div id="column" name="home" number="1">
            <div id="top">Home</div>
            <div id="toot_field">
                <script type="text/javascript">
                load("home",1);
                </script>
            </div>
        </div>
        <div id="column" name="local" number="2">
            <div id="top">Local</div>
            <div id="toot_field">
                <script type="text/javascript">
                load("local",2);
                </script>
            </div>
        </div>
        <div id="column" name="public" number="3">
            <div id="top">Public</div>
            <div id="toot_field">
                <script type="text/javascript">
                load("public",3);
                </script>
            </div>
        </div> -->
        <script type="text/javascript">
        addColumn("home");
        addColumn("local");
        addColumn("public");
        </script>
    </div>
</body>
</html>
