<!DOCTYPE html>
<html>
<head>
    <title>Mastodeck</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <div id="column">
        <% toots_public.forEach(function (value, key) {%>
        <div id="cell"><%= value %></div>
        <% }); %>
    </div>
    <div id="column">
        <% toots_home.forEach(function (value, key) {%>
        <div id="cell"><%= value %></div>
        <% }); %>
    </div>
</body>
</html>
