<!DOCTYPE html>
<html>
<head>
    <title>Mastodeck</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <div id="column">
        <div id="cell">
            Toot!
        </div>
        <div id="cell">
            Toot2!
        </div>
        <div id="cell">
            Toot3!
        </div>
        <div id="cell">
            Toot4!
        </div>
        <div id="cell">
            Toot5!
        </div>
    </div>
</body>
</html>
