<!DOCTYPE html>
<html>
<head>
    <title>Mastodeck</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
    <form method="get" action="/instance">
        <p><label>http://</label><input type="text" name="instance_name" size="40" maxlength="20"></p>
        <p><input type="submit" value="select"></p>
    </form>
</body>
</html>
